* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    color: #fff;
    padding: 3em;
    border-radius: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 6em;
    border-radius: 50%;
    margin-bottom: 2em;
}

.bio {
    padding: 0.5em 0;
}

.location {
    padding: 0.5em 0;
    color: hsl(75, 94%, 57%);
}

.links>a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: hsl(0, 0%, 20%);
    border: 1px solid hsl(0, 0%, 20%);
    border-radius: 10px;
    width: 20em;
    height: 3em;
    text-align: center;
    margin: 0.5em 0;
    text-decoration: none;
}

.links>a:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}